/* _colors.scss */
$gold: rgb(218, 170, 14);
$lime-bright: rgb(127, 236, 55);
$white: rgb(255, 255, 255);
$gray: rgb(212, 213, 216);
$lime-soft: rgb(170, 240, 113);
$blue: rgb(58, 107, 212);
$near-black: rgb(49, 49, 48);

$font-body: Arial, Helvetica, Sans-Serif;
$font-script: 'Sacramento', cursive;
