/* _nav.scss */
header {
  border-bottom: 1px solid $gray;
  padding-bottom: 0.5rem;

  nav {
    ul {
      display: flex;
      align-items: center;
      gap: 0.75rem;
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        font-size: 0.9rem;

        a {
          text-decoration: none;
          color: $near-black;
          font-weight: 600;

          &:hover {
            color: $blue;
          }
        }
      }
    }
  }
}
